<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fyp.mobilebankingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="FYP"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccountDetailsActivity" />

        <activity
            android:name=".TransferToOwnAcc" />

        <activity
            android:name=".TransferToOtherAcc" />

        <activity
            android:name=".NewTransferPayee" />

        <activity
            android:name=".TransferSummaryOwn" />

        <activity
            android:name=".TransferSummaryOther"
            android:launchMode="singleTop" />

        <activity
            android:name=".NewBillPaymentPayee" />

        <activity
            android:name=".BillPaymentSummary" />

        <activity
            android:name=".ReportPage" />

        <activity
            android:name=".MainActivity" />

        <activity
            android:name=".BiometricAuthorization" />

        <service android:name=".Service.FirebaseInstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:resource="@string/notification_channel_id" />


    </application>

</manifest>